@import './_mixin.scss';

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  @include poppins-regular; 
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 80vh;
/*   margin-bottom: calc(0.4vw + 0.4vh); */
  & .toggle-dashboard {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(0.2vw + 0.2vh);
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
    font-size: calc(0.6vw + 0.6vh);
    &.off {
      display: none;
    }
    & .book-closed {
      font-size: calc(2vw + 2vh);
    }
    &:active {
      color: $neon-orange;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  & .main-wrapper {
    display: flex;
    flex-direction: column;
    & h1 {
      text-align: center;
      font-size: calc(2vw + 2vh);
    }
    & .table-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
/*       max-width: 100%; */
      aspect-ratio: 16 / 9;
      &  table {
        border: 1px solid  black;
        border: 1px solid black;
        margin-bottom: calc(0.4vw + 0.4vh);
        transition: all 0.2s;
      }
      & .cell {
        width: calc(1vw + 1vh);
        height: calc(1vw + 1vh);
        border: solid 1px black;
        cursor: pointer;
        transition: all 0.2s;
      }
    
      & .filled {
        background-color: $neon-red;
      }
    
      & .empty {
        background-color: white;
      }
    }
  }

  & .dashboard-section {
    background-color: $beige;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
/*     align-items: center; */
    gap: calc(0.5vw + 0.5vh);
    height: 100%;
    padding-top: calc(3.5vw + 3.5px);
    padding-bottom: calc(3.5vw + 3.5px);
    padding-left: calc(0.5vw + 0.5vh);
    padding-right: calc(0.5vw + 0.5vh);
    border-right: solid 1px black;
    transition: width 0.5s;
    width: 0px;

    &.expanded {
      width: calc(11vw + 11vh);
    }
    
    & .toggled-dashboard {
      & h3 {
        font-size: calc(1vw + 1vh);
      }
      & .book-logo {
        font-size: calc(2vw + 2vh);
      }
      font-size: calc(1vw + 1vh);
      border: none;
      background-color: $beige;
      cursor: pointer;
      display: flex;
      font-size: calc(1vw + 1vh);
      &:active {
        color: $neon-orange;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    & button {
      cursor: pointer;
      border: solid 1px black;
      box-shadow: 2px 2px 10px gray;
      background-color: $neon-orange;
      padding-left: calc(1vw + 1vh);
      padding-right: calc(1vw + 1vh);
      border-radius: 10% 70% 70% 10%;
      @include poppins-bold;
      transition: all 0.2s;
      font-size: calc(0.7vw + 0.7vh);
      color: white;
      &.toggled-dashboard {
        color: black; 
      }
      &:active {
        background-color: white;
        color: $neon-orange;
      }
      &:hover {
        transform: scale(1.1);
      }
    }

    .auto-breeding {
      display: flex;
      gap: calc(0.7vw + 0.7vh);
      & h5 {
        font-size: calc(0.6vw + 0.6vh);
      }
    }
    .start-button {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
    }
    
    .start-button input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      background-color: #ccc;
      transition: 0.4s;
      width: 100%;
      height: 100%;
      border-radius: 34px;
    }
    
    .slider::before {
      content: "";
      position: absolute;
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
    
    input:checked + .slider {
      background-color: $neon-orange;
    }
    
    input:checked + .slider::before {
      transform: translateX(24px);
    }

    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: calc(0.7vw + 0.7vh);
      & input[type=submit] {
        padding-right: calc(1.2vw + 1.2vh);
        padding-left: calc(1.2vw + 1.2vh);
        border: none;
        @include poppins-bold;
        border-radius: 25px;
        background-color: $neon-orange;
        color: $white-font;
        font-size: calc(0.6vw + 0.6vh);
        cursor: pointer;
        transition: transform 0.2s;
        &:active {
          background-color: white;
          border: solid 1px $neon-orange;
          color: $neon-orange;
        }
        &:hover {
          transform: scale(1.1);
        }
      } 

      & input[type=number] {
        width: calc(9vw + 9vh);
        padding-left: calc(0.3vw + 0.3vh);
        &::placeholder {
          font-size: calc(0.7vw + 0.7vh);
        }
      }
    }
  }
}




@import './media'